<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

    <title>勤務時間集計一覧</title>
</head>
<body>
<section>
    <div>
        <ul class="side">
            <li>
                <form method="post" action="">
                    <a class="btn btn-flat1" a href="/admin/userManagement">ユーザ管理</a>
                </form>
            </li>
            <li>
                <form method="post" action="">
                    <a class="btn btn-flat2" a href="/admin/aggregation">勤務時間集計</a>
                </form>
            </li>
            <li>
                <form method="post" action="">
                    <a class="btn btn-flat3" a href="/work">勤怠入力</a>
                </form>
            </li>
            <li>
                <a class="btn btn-flat4" a th:href="@{/logout}">ログアウト</a>
            </li>
        </ul>
    </div>

    <div class="center2">

        <br><br><br><br>

        <h1>勤務時間集計一覧        2024年01月</h1>

        <br>

        <input type="submit" value="先月へ" class="button">

        <input type="submit" value="次月へ" class="button">

        <br>
    
        <table align="center" width="1000">
            <tr>
                <th>名前</th>
                <th>勤務時間集計</th>
            </tr>

            <tr>
                <td>
                    <a href="attendanceHistory.html">山田太郎</a>
                </td>
                <td>50:00</td>
            </tr>

            <tr>
                <td>
                    <a href="attendanceHistory.html">名無し1</a>
                </td>
                <td>55:00</td>
            </tr>

            <tr>
                <td>
                    <a href="attendanceHistory.html">名無し2</a>
                </td>
                <td>85:00</td>
            </tr>

            <tr>
                <td>
                    <a href="attendanceHistory.html">名無し3</a>
                </td>
                <td>25:00</td>
            </tr>

        </table>

    </div>
</section>
</body>
</html>