<!--仮で置いているだけ。昨日は未実装-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <title>ユーザー管理者</title>
</head>
<body style="background-color: rgb(225, 225, 225);">
    <div>
        <ul class="side">
            <li>
                <a href="userManagement.html">ユーザ管理</a>
            </li>
            <li>
                <a href="workplace.html">勤務場所管理</a>
            </li>
            <li>
                <a href="aggregation.html">勤務時間集計</a>
            </li>
            <li>
                <a href="../login.html">ログアウト</a>
            </li>
        </ul>
    </div>
    
    <div class="center2">

        <br><br><br><br>

        <h3>ユーザー一覧</h3>

        <p class="center2">2022/09/15 ~ 2022/10/14</p>

        <div align="right">
            <input type="submit" value="新規登録" onclick="location.href='user_add.html'" class="button">
        </div>
        
        <table align="center" width="1000" class="color">
            <tr>
                <th>名前</th>
                <th>名前</th>
                <th>名前</th>
                <th>名前</th>
                <th>名前</th>
            </tr>

            <tr>
                <td>
                    <a href="user_edit.html">山田太郎</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し2</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し3</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し4</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し5</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="user_edit.html">名無し6</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し7</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し8</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し9</a>
                </td>
                <td>
                    <a href="user_edit.html">名無し10</a>
                </td>
            </tr>

        </table>

    </div>
    
</body>
</html>