<!--仮で置いているだけ。昨日は未実装-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <title>ユーザー管理者</title>
</head>
<body>
<section>
    <div>

        <ul class="side">
            <li>
                <form method="post" action="">
                    <a class="btn btn-flat1" a href="/admin/userManagement"><span>ユーザ管理</span></a>
                </form>
            </li>
            <li>
                <form method="post" action="">
                    <a class="btn btn-flat2" a href="/admin/aggregation"><span>勤務時間集計</span></a>
                </form>
            </li>
            <li>
                <form method="post" action="">
                    <a class="btn btn-flat3" a href="/work"><span>勤怠入力</span></a>
                </form>
            </li>
            <li>
                <a class="btn btn-flat4" a th:href="@{/logout}"><span>ログアウト</span></a>
            </li>
        </ul>
    </div>

    <div class="center2">

        <br><br><br><br>

        <h1>ユーザー一覧</h1>

        <h2 th:text = "'こんにちは、' + ${userName} + 'さん！'"></h2>

        <form th:action="@{/admin/userAdd}" method="post">
            <input class="btn btn--green btn--radius btn--cubic" type="submit" name="status" value="新規登録">
        </form>

        <table align="center" width="1000" class="color">
            <tr>
                <th>名前</th>
            </tr>
            <tr th:each="attendance : ${userManagement}">
                <td th:text="${attendance.user_name}"></td>
            </tr>

        </table>

    </div>
</section>
</body>
</html>
