<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

    <title>連絡先登録</title>
</head>
<body style="background-color: rgb(225, 225, 225);">
    <section>
        <div>
            <ul class="side">
                <li>
                    <form method="get" action="">
                        <a class="btn btn-flat1" a href="/work">勤怠入力</a>
                    </form>
                </li>
                <li>
                    <form method="get" action="">
                        <a class="btn btn-flat2" a href="/place">勤務場所登録</a>
                    </form>
                </li>
                <li>
                    <form method="get" action="">
                        <a class="btn btn-flat4" a href="/condition">勤怠状況一覧</a>
                    </form>
                </li>
                <li th:if="${isAdmin}">
                    <form method="get" action="">
                        <a class="btn btn-flat5" a href="/admin/userManagement">ユーザー管理</a>
                    </form>
                </li>

                <li>
                    <a class="btn btn-flat5" a th:href="@{/logout}">ログアウト</a>
                </li>
            </ul>
        </div>

        <div class="contents">

            <br><br><br><br>

            <form method="post" th:action="@{/address}">
            <h1>連絡先登録</h1>
            <p style="color:red" th:text="${errorAddress}"></p>
            <label class="left">電話番号: </label>
            <input type="text" name="tell" placeholder="090-1234-5678">

            <br><br>

            <label class="left">メールアドレス: </label>
            <input type="text" name="email" placeholder="info@example.com">

            <br><br>

            <label class="left">備考: </label>
            <textarea name="remarks" th:text = "${remarks}" placeholder="特になし"></textarea>

            <br><br>

            <input class="btn btn--green btn--radius btn--cubic" type="submit" value="登録">
            <button type="button" class="btn btn--green btn--radius btn--cubic" onclick="window.history.back();">前のページに戻る<i class="fas fa-angle-right fa-position-right"></i></button>

            </form>
        </div>
        <br><br>
        <div>
            <div th:object="${user}">
                <table>
                    <tr>
                        <th>電話番号</th>
                        <td th:text="*{tel}"></td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td th:text="*{mail}"></td>
                    </tr>
                    <tr>
                        <th>備考</th>
                        <td><pre th:text="*{remarks}"></pre></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>