<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

    <title>ログイン画面</title>
</head>
<body style="background-image: linear-gradient(to left bottom, #ffffff, #cecfd1, #9ea2a3, #727775, #4c4e49)">

    <div>
        <p>Login</p>

        <form th:action="@{/login}" method="post">
            <!--エラーメッセージ-->
            <p th:if="${error}" style="color:red" th:text="${error}"></p>

            <p class="text">ログインID</p>
            <label><input type="text" name="login_id" placeholder="abcd1234"></label>
            <br>
            <p class="text">Password</p>
            <label><input type="password" name="password" placeholder="＊＊＊＊＊＊＊＊"></label>
            <br><br>

<!--            <a href="work.html" class="btn btn&#45;&#45;green btn&#45;&#45;radius btn&#45;&#45;cubic">Login<i class="fas fa-angle-right fa-position-right"></i></a></button>-->

            <input class="btn btn--green btn--radius btn--cubic" type="submit" value="Login">
        </form>

    </div>
</body>
</html>