<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

    <title>勤務場所登録</title>
</head>
<body style="background-color: rgb(225, 225, 225);">
    <div>
        <ul class="side">
            <li>
                <form method="post" action="">
                    <a href="/work">勤怠入力</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/place">勤務場所登録</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/address">連絡先登録</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/record">勤怠状況一覧</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/condition">勤務状況一覧</a>
                </form>
            </li>
            <li>
                <a th:href="@{/logout}">ログアウト</a>
            </li>
        </ul>
    </div>
    
    <div class="center2">

        <br><br><br><br>

        <form method="post" th:action="@{/place}">
        <h3>勤務場所登録</h3>

        <p>本日の勤務場所を登録してください。</p>
        <p style="color:red" th:text="${errorPlace}"></p>
        <select name="place">
            <option value="0">-</option>
            <option value="1">自宅</option>
            <option value="2">東京</option>
            <option value="3">営業所</option>
        </select>

        <input type="submit" value="登録" class="button">
        </form>

    </div>
    
</body>
</html>