<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

    <title>勤怠入力</title>

</head>
<body style="background-color: rgb(225, 225, 225);">
    <div>
        <ul class="side">
            <li>
                <form method="post" action="">
                    <a href="/work">勤怠入力</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/place">勤務場所登録</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/address">連絡先登録</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/record">勤怠状況一覧</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/condition">勤務状況一覧</a>
                </form>
            </li>
            <li>
                <form method="get" action="">
                    <a href="/login">ログアウト</a>
                </form>
            </li>
        </ul>
    </div>
    <div class="center2">
        
        <br><br><br><br>
    
        <p>こんにちは、ななしさん。</p>
        <p>状態：未出勤<br></p>

        <div id="DateTimeDisp"></div>

        <form th:action="@{/work}" method="post">
            <input type="submit" class="button" value="出勤" onclick="alert('出勤しますか？')">
        </form>

        <br>

        <form>
            <input type="submit" class="button" value="退勤">
        </form>

        <br><br>

        <input type="submit" value="休憩開始" class="button">

        <input type="submit" value="休憩終了" class="button">
    </div>
    
    
</body>
</html>